<!DOCTYPE HTML>
<html>
	<head>
		<title>FACE DETECTION</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	</head>
	<body class="homepage is-preload" style="background-color: #06021a;" >
		<div class="bg">
		<div id="page-wrapper">

				<div id="header-wrapper">
					<div class="container">

							<header id="header">
								<div class="inner">


										<h1>FACE DETECTION</h1>

										<nav id="nav">
											<ul>
												<li class="current_page_item" ><a href="#this">Home</a></li>

												<li><a onclick="window.location.href='team_members';" class="btn btn-dark">Team Details</a></li>
												<li><a onclick="window.location.href='form';" class="btn btn-dark">Web App</a></li>
											</ul>
										</nav>

								</div>
							</header>

							<div id="banner" id="this" >
								<h2 style=" text-transform: uppercase; background-color: #292826;"></br>Face detection is a computer technology being used in a variety of applications that identifies human faces
									in digital images. Face detection
									 also refers to the psychological process by which humans locate and attend to faces in a visual scene.</br></h2>
								 </br>

							 <h4 style="color: white; text-transform: none;">Click on Web App to use it</h4>

							</div>

					</div>
				</div>


									<div class="row">
										<div class="col-12">
											<header class="first major">
												<h2>Mail us</h2>
												<form class="mailus" action="mailusto:group17@gmail.com" method="post">
          <input type="email" placeholder="Enter your email"><br><br>
          <center><button type="button">Subscribe</button></center><br><br>
       </form>
											</header>
										</div>
									</div>


			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		</div>
	</body>
</html>
